# go build artifacts
/ow-custommatch-bot
/ow-custommatch-bot.exe
/bin/*
!/bin/.gitkeep

# local env
/.env
/bin/.env

# personal data
*/players.json

# bot data files
/player_data.json
/bin/player_data.json
/bin/rank.json
/bin/vc_config.json
.logs/
